@{
    ViewData["Title"] = "Home Page";
}
@ViewBag.Name Örnek
<div class="text-center">
    <ul>
        <li>
            Çağrı
        </li>
        <li>
            Boran
        </li>
        <li>
            Nisa
        </li>
    </ul>
</div>